body{
	font-family: 'Open Sans', sans-serif;
}
.navbar {
    background-color: #FFF;
    border-bottom: 1px solid #FACAB3;
    font-family: 'Questrial', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0px;
	margin-bottom: 0px;
	min-height: 50px;
}

.navbar-brand {
	height: auto;
	padding: 5px;
}

.navbar-nav > li > a {
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px 15px;
    line-height: 20px;
}

.navbar-nav > li > a.sign-up-btn {
    background-color: #E2F8E6;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0px 5px 10px;
}

.navbar-nav > li > a.sign-up-btn:hover{
	background-color: #2ecc71;
	color: #FFF;
}
.video-campanha{
	padding-top: 2em;
}
.campanha{
	background: url('http://escolamupi.com.br/static/img/grey.74f7cdffc9b2.png');
	border-radius: 3px;
	max-width: 200px;
	padding: 0 1em;
	border: 1px dashed #ddd;
}
.campanha-container{
	border-bottom: 4px solid #FACAB3;
	margin-bottom: 1em;
	padding-bottom: 1em;
}

.tagline{
	font-size: 1.4em;
	border-bottom: 1px solid #eee;
	margin-bottom: 1em;
	padding-bottom: 0.5em;
}

.caption h4{
	color: #4F94CD;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Questrial';
}
.product:hover{
	text-decoration: none;
}
.thumbnail{
	position: relative;
}
.price{
	background-color: #5CB85C;
	color: #FFF;
	padding: 0;
	border-radius: 50%;
	height: 60px;
	width: 60px;
	display: block;
	line-height: 60px;
	margin: 0 auto;
	text-align: center;
	position: absolute;
	right: 5px;
	top: 5px;
}